body, html {
  height: 100%;
  background-image: url("fkimg.jpeg");

  /* Full height */


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
